
.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

*.xcscheme

platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcuserstate

platforms/ios/IMS.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store
platforms/

.project

unpackage/.confirmed_dependencies

unpackage/.dependencies

platforms/ios/IMS.xcodeproj/project.xcworkspace/xcuserdata/Satoru.xcuserdatad/UserInterfaceState.xcuserstate

platforms/ios/www/Controller/bindingMachine.js

platforms/ios/www/Controller/yieldinput.js

platforms/ios/www/View/bindingMachine.html

platforms/ios/www/View/yieldinput.html
