
.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

*.xcscheme

platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcuserstate

platforms/ios/IMS.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store
platforms/

.project
