
.idea/modules.xml

.idea/vcs.xml

.idea/*



.DS_Store


.gradle
.project

unpackage/.confirmed_dependencies

unpackage/.dependencies


.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/IMS.iml

# iOS
platforms/ios/build/
platforms/ios/www/
platforms/ios/cordova/console.log
*.xcuserdatad

# android
platforms/android/
platforms/android/assets/www
platforms/android/bin
platforms/android/gen
platforms/android/local.properties
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties

platforms/ios/www/Controller/bindingMachine.js

platforms/ios/www/Controller/yieldinput.js

platforms/ios/www/View/bindingMachine.html

platforms/ios/www/View/home.html

platforms/ios/www/View/yieldinput.html

platforms/android/.idea/

platforms/android/assets/www/index.html

platforms/android/assets/www/index.html

platforms/ios/www/Controller/url.js
