<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>首页</title>
  		<link href="../styles/kendo.silver.min.css" rel="stylesheet" />
		<link href="../styles/kendo.common.min.css" rel="stylesheet" />
		<link href="../styles/kendo.mobile.all.min.css" rel="stylesheet" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/kendo.all.min.js"></script>
		
	</head>
	<body>
	<div data-role="layout" data-id="default">
		<header data-role="header">
				<span data-role="navbar">
                    <div data-role="view-title"
						 style="line-height: 4.5em;font-weight: 100;background-color: white;color: black;font-family: arial;"></div>
					    <a id="bindingMachine_leftNavButton" href="#:back" data-role="button" data-align="left" style="background-image: url(../resources/@3x/back_big@3x.png);background-repeat: round;height: 50px;padding-left: 50px;"></a>
                        <a data-badge="0" id="packingInput_rightNavButton_1" href="warningList.html" data-role="button" data-align="right" style="background-image: url(../resources/@3x/status_red@3x.png);background-repeat: round;height: 25px;width: 30px;padding-right: 9px;margin-right: 1em;"></a>
                </span>
		</header>
	</div>
		<div data-role="view" data-title="IMS" id="IMSHome" data-show="viewShow" data-before-hide="viewBeforeHide" data-init="viewInit">
			
			<p style="background-color:#F7F7F7;margin: 0;height: 0.4em;"></p>
			<div data-role="content" style="background-color: #F7F7F7;">
				<ul id="homeListView" data-role="listview" data-style="inset" style="background-color: white;">
					<li>
						<a data-role="detailbutton"   data-rel="actionsheet" href="#actionsheet">
							<p>
								<img src="../resources/@3x/yield_input@3x.png" style="width: 4.5em;vertical-align: middle;" />
								<span style="color: #A62A40; height: 60px;padding-left: 1em;vertical-align: middle;">机台输入产量</span>
								
							</p>
						</a>
						
					</li>
					 <ul id="actionsheet" data-role="actionsheet" data-cancel="取消" >
					 	 <!--<li ><a></a></li>-->
					 	  <li class="km-actionsheet-title">选择班次</li>
    									   <li><a data-action="actionsheetAction.action0">班别:甲</a></li>
  									   <li><a data-action="actionsheetAction.action1">班别:乙</a></li>
  									   <li><a data-action="actionsheetAction.action2">班别:丙</a></li>
							    </ul>
					<li>
						<a data-role="detailbutton" id="packingInput">
							<p>
								<img src="../resources/@3x/packing_input@3x.png" style="width: 4.5em;vertical-align: middle;" />
								<span style="color: #A62A40; height: 60px;padding-left: 1em;vertical-align: middle;">副料打包</span>
							</p>
						</a>
					</li>
					<li>
						<a data-role="detailbutton" id="warning">
							<p>
								<img src="../resources/@3x/check_alarm@3x.png" style="width: 4.5em;vertical-align: middle;" />
								<!--<span class="km-badge" style="background-color: rgba(250,73,53,0.9);top:5px;left:64px;width: 15px;margin-top: 10px;padding: 0;position: absolute;">68</span>-->
								<span style="color: #A62A40; height: 60px;padding-left: 1em;vertical-align: middle;">查看报警</span>
							</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div data-role="drawer" style="width: 55%;height: 101%;margin-top: -1px;" data-swipe-to-open-views='["IMSHome"]' id="homeDrawer">
			<div data-role="content">
				<div class="km-scroll-container"></div>
			</div>
			<img src="../resources/@3x/side_menu_background@3x.jpg" width="100%" height="100%" border="0" style="position: absolute;" />
			<div style="width: 100%;height: 100%;text-align: center;">
				<img src="../resources/@3x/avatar@3x.png" height="10%" border="0" style="position: relative;top: 10%;" />
			</div>
			<div style="color: #FFFFFF;font-size: 1em;position: absolute;top:22%;width: 100%;text-align: center;">
				<span id="username">User</span>
			</div>
			<div style="text-align: center;color: #FFFFFF;font-size: 0.8em;padding-top: 1em;position: absolute;top: 25%;width: 100%;">
				<span>部门:</span>
				<span id="deptname">department</span>
				<span style="padding-left: 1.5em;">角色:</span>
				<span id="rolename">role</span>
			</div>
			<ul id="sideMenuListView" data-role="listview" data-style="inset">
				<li style="margin-top: 3em;background-color: rgba(0,0,0,0.1);position: absolute;width: 100%;padding-top: 3px;padding-bottom: 3px;padding-left: 15px;top: 30%;border: none;">
					<a data-role="detailbutton" id="bindingMachine">
						<p>
							<img src="../resources/@3x/binding_machine_icon@3x.png" style="width: 1.2em;vertical-align: middle;" />
							<span style="color: #FFFFFF;vertical-align: middle;">绑定机台</span>
						</p>
					</a>
				</li>
			</ul>
			<div style="position: absolute;bottom: 3em;">
				<a id="logout">
					<img src="../resources/@3x/logout@3x.png" style="margin-left: 1em;width: 1.7em;vertical-align: middle;" />
					<span style="margin-left: 1em;color: #FFFFFF;font-size: 0.9em;">退出</span>
				</a>
			</div>
		</div>

		<script type="text/javascript" src="../cordova.js"></script>
		<script src = "../Controller/storage.js"></script>
		<script src="../Controller/home.js"></script>

	</body>

</html>