<div data-role="view" data-title="离线上传列表" id="IMSOfflineUpload" data-show="viewShow">
	<header data-role="header">
		<span data-role="navbar" style="border-bottom-width:1px ;border-bottom-style: solid;border-bottom-color: lightgray;">
			<div data-role="view-title" style="line-height: 80px;font-weight: 100;background-color: white;color: black;font-family: arial;"></div>
			<a id="offlineUpload_leftNavButton" href="#:back" data-role="button" data-align="left" style="background-image: url(../resources/@3x/back_big@3x.png);background-repeat: round;height: 80px;width: 100px;"></a>
			<a  id="submit"  data-role="button" data-align="right" style="background-image: url(../resources/@3x/uploadButton.png);background-repeat: round;height: 80px;width: 100px;"></a>
        </span>
	</header>
	<div data-role="content" style="background-color: #F7F7F7;">
		<div data-role="listview" data-bind="source: dataSource" data-template="offlineUpload_Template" data-header-template="offlineUpload_Header_Template" data-fixed-headers="false" id="offlineUploadListView" style="background-color: white;" data-click="listViewClick">
		</div>
	</div>

	<script id="offlineUpload_Header_Template" type="text/x-kendo-template">
		#:value#
	</script>

	<script id="offlineUpload_Template" type="text/x-kendo-template">
		<div>#:operatetime#</div>
		<div>#:info#</div>
		<div>#:status#</div>
		<button data-bind="click: deleteItem">删除</button>
	</script>

	<link rel="stylesheet" href="../css/offline_upload.css" />
	<script src="../Controller/url.js"></script>
	<script src="../Controller/storage.js"></script>
	<script src="../Controller/offline_upload.js"></script>
</div>