<div data-role="view" id="navbar-styles" data-title="副料打包查询" data-use-native-scrolling="true" data-show="viewShow" data-init="viewInit" id="IMSYieldinput">
	<input id="startTimeDatepicker1" style="width: 100%;" />
	<input id="startTimeDatepicker2" style="width: 100%;" />
	<select id="type" data-role="dropdownlist" style="width: 100%;">

		<option>回条</option>
		<option>粗纱头</option>
		<option>白花</option>
	</select>
	
	<div data-role="button">确定</div>

	<ul data-role="listview" data-bind="source: queryResultDataSource" data-style="inset" style="background-color: white" data-template="itemTemplate" id="listview">
	</ul>
	<script id="itemTemplate" type="text/x-kendo-template">
		<label id="itemInfo" style="width: 100%;">xxxxxxxx</label>
		<select id="yield" data-role="dropdownlist" style="width: 100%;">
		<option>T</option>
		<option>KG</option>
		<option>G</option>
	</select>
	<input style="width: 100%;"></input>
	<div data-role="button" style="width: 100%;">修改</div>
	<div data-role="button"style="width: 100%;">删除</div>

	</script>
	<script src="../Controller/queryyieldinput.js"></script>
</div>