<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>机台输入产量查询</title>

		<link href="../styles/kendo.default.min.css" rel="stylesheet" />
		<link href="../styles/kendo.common.min.css" rel="stylesheet" />
		<link href="../styles/kendo.mobile.all.min.css" rel="stylesheet" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/kendo.all.min.js"></script>

	</head>
	<body>
		
<div data-role="view" id="navbar-styles" data-title="机台输入产量查询" data-use-native-scrolling="true" data-show="viewShow" data-init="viewInit" id="IMSYieldinput">
	<input id="startTimeDatepicker1" style="width: 100%;" />
	<input id="startTimeDatepicker2" style="width: 100%;" />
	<select id="procedure" data-role="dropdownlist" style="width: 100%;">

		<option>预并</option>
		<option>梳面</option>
		<option>粗纱</option>
	</select>
	<select id="machine" data-role="dropdownlist" style="width: 100%;">

		<option>机器一</option>
		<option>机器二</option>
		<option>机器三</option>
	</select>
	<select id="duty" data-role="dropdownlist" style="width: 100%;">

		<option>班别甲</option>
		<option>班别乙</option>
		<option>班别丙</option>
	</select>
	<div data-role="button">确定</div>

	<ul data-role="listview" data-bind="source: queryResultDataSource" data-style="inset" style="background-color: white" data-template="itemTemplate" id="listview">
	</ul>
	<script id="itemTemplate" type="text/x-kendo-template">
		<label id="itemInfo" style="width: 100%;" recid="#:recid#">#:date# #:flowcode# #:devcode#</label>
		<select id="duty"  data-role="dropdownlist" style="width: 100%;" data-bind="value: duty">
		<option>班别甲</option>
		<option>班别乙</option>
		<option>班别丙</option>
	</select>
	<select id="varieties"  data-role="dropdownlist" style="width: 100%;" data-bind="value: varieties">
		<option>品种一</option>
		<option>品种二</option>
	</select>
	<input style="width: 100%;" id="yield" value="#:yield#"></input>
	<div data-role="button" data-bind="click: editItem" style="width: 100%;">修改</div>
	<div data-role="button"data-bind="click: deleteItem" style="width: 100%;">删除</div>

	</script>
	<script src="../Controller/queryyieldinput.js"></script>
</div>
<script>window.app = new kendo.mobile.Application(document.body, {
	platform: 'ios',
	skin: 'nova',
	layout: 'default',
	transition: 'overlay'
});</script>

	</body>

</html>