<!--<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>机台输入产量查询</title>

		<link href="../styles/kendo.default.min.css" rel="stylesheet" />
		<link href="../styles/kendo.common.min.css" rel="stylesheet" />
		<link href="../styles/kendo.mobile.all.min.css" rel="stylesheet" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/kendo.all.min.js"></script>

	</head>

	<body>-->

<div data-role="view" data-title="机台输入产量查询" data-use-native-scrolling="true" data-show="viewShow" data-init="viewInit" id="IMSQueryYieldInput">
	<header data-role="header">
		<span data-role="navbar" style="border-bottom-width:1px ;border-bottom-style: solid;border-bottom-color: lightgray;">
                <div data-role="view-title" style="line-height: 4.5em;font-weight: 100;background-color: white;color: black;font-family: arial;"></div>
                <a id="queryYieldInput_leftNavButton" data-role="button" data-align="left" style="background-image: url(../resources/@3x/back_big@3x.png);background-repeat: round;height: 50px;padding-left: 50px;"></a>
				<a data-badge="0" id="queryYieldInput_rightNavButton_1" href="warningList.html" data-role="button" data-align="right" style="background-image: url(../resources/@3x/status_red@3x.png);background-repeat: round;height: 25px;width: 30px;padding-right: 9px;margin-right: 1em;"></a>
		</span>
	</header>
	<div style="text-align: center;border-bottom-width: 1px;border-top-width: 1px;border-bottom-color: #EEEEEE;border-top-color: #EEEEEE;border-bottom-style: solid;border-top-style: solid;padding-top: 10px;padding-bottom: 10px;">
		<input id="queryYieldInput_startTimeDatepicker1" style="width: 47%;" placeholder="开始日期" />
		<input id="queryYieldInput_startTimeDatepicker2" style="width: 47%;" placeholder="结束日期" />
		<div>
			<span style="width: 10%;top: 5px;position: relative;">工序:</span>
			<select id="queryYieldInput_procedure" data-role="dropdownlist" style="width: 35%;text-align: left;margin-top: 10px;">
				<option value="" selected disabled="true">工序</option>
				<option value="0">全部</option>
				<option value="1">清花</option>
				<option value="2">梳棉</option>
				<option value="3">预并</option>
				<option value="4">条并卷</option>
				<option value="5">精梳</option>
				<option value="6">末并</option>
				<option value="7">粗纱</option>
				<option value="8">细纱</option>
				<option value="9">清纱</option>
				<option value="10">络筒</option>
			</select>
			<span style="width: 10%;top: 5px;position: relative;">班别:</span>
			<select id="duty" data-role="dropdownlist" style="width: 35%;text-align: left;margin-top: 10px;">
				<option value="" selected disabled="true">班别</option>
				<option value="0">全部</option>
				<option value="1">甲</option>
				<option value="2">乙</option>
				<option value="3">丙</option>
			</select>
		</div>
		<div>
			<span style="width: 10%;top: 5px;position: relative;">设备:</span>
			<select id="queryYieldInput_machine" data-role="dropdownlist" style="width: 60%;text-align: left;margin-top: 10px;">
				<option value="" selected disabled="true">设备</option>
			</select>
			<div id="queryYieldInput_QueryButton" data-role="button" style="width: 22%;height: 35px;border: none;font-size: 1em;background-color: #A62A40;color: #FFFFFF;border-radius: 4px;margin-top: 10px;">查 询</div>
		</div>
	</div>

	<ul data-role="listview" data-bind="source: queryResultDataSource" data-style="inset" style="background-color: white" data-template="queryYieldInput_itemTemplate" id="queryYieldInput_listview">
	</ul>
	<script id="queryYieldInput_itemTemplate" type="text/x-kendo-template">
		<div id="queryYieldInput_itemInfo" style="text-align: right;color: gray;font-size: 0.7em;width: 100%;height: 10px;" recid="#:recid#">#:flowname# #:devname# #:date#</div>
		<div>
			<select id="queryYieldInput_duty" data-bind="value: duty" data-text-field="duty" data-value-field="duty" style="position: relative;top: 25px;font-size: 1em;width: 48%;height: 35px;padding-left: 0.5em;border-radius: 4px;text-align: left;background-color: rgb(238,238,238);">
				<option value="" selected disabled="true">班别</option>
				<option value="1">甲</option>
				<option value="2">乙</option>
				<option value="3">丙</option>
			</select>
			<select id="queryYieldInput_varieties" data-bind="source: varietiesDataSource,value:variety" data-text-field="variety" data-value-field="variety" style="position: relative;top: 25px;font-size: 1em;float: right;width: 48%;height: 35px;padding-left: 0.5em;border-radius: 4px;text-align: left;background-color: rgb(238,238,238);">
				<option value="" selected disabled="true">品种</option>
			</select>
			<input id="queryYieldInput_yield" value="#:yield#" placeholder="产量" type="number" style="position: relative;font-size: 1em;padding-left: 0.5em;width: 48%;height: 35px;margin-top: 35px;border-width: 2px;border-style: solid;border-color: rgb(238,238,238);border-radius: 4px;"></input>
			<div data-role="button" data-bind="click: editItem" style="float: right;margin-top: 18px;width: 47.5%;background-color: rgb(255,255,255);color: rgb(169,41,61);border-color: rgb(169,41,61);border-radius: 4px;font-size: 14px;">修 改</div>
			<!--<div data-role="button" data-bind="click: deleteItem" style="float: right;width: 47.5%;background-color: rgb(255,255,255);color: rgb(169,41,61);border-color: rgb(169,41,61);border-radius: 4px;">删 除</div>-->

		</div>
	</script>

	<link rel="stylesheet" href="../css/queryyieldinput.css" />
	<script src="../Controller/queryyieldinput.js"></script>
	<script src="../Controller/url.js"></script>
</div>
<!--<script>
			window.app = new kendo.mobile.Application(document.body, {
				platform: 'ios',
				skin: 'nova',
				layout: 'default',
				transition: 'overlay'
			});
		</script>

	</body>

</html>-->