<!--<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>告警列表</title>

		<link href="../styles/kendo.mobile.all.min.css" rel="stylesheet" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/kendo.all.min.js"></script>

	</head>

	<body>-->
		<div data-role="view" data-title="告警" id="IMSWarningInfo" data-show="viewShow" data-init = "viewInit">
			<header data-role="header">
				<span data-role="navbar">
                    <div data-role="view-title" style="line-height: 4.5em;font-weight: 100;background-color: white;color: black;font-family: arial;"></div>
                		<a href="#:back" data-role="button" data-align="left" style="background-image: url(../resources/@3x/back_big@3x.png);background-repeat: round;height: 50px;padding-left: 50px;"></a>
				</span>
				<div style="background-color: white;text-align: center;">
				<span>
                    <a data-role="button" id="warningInfo_filterButton" data-rel="actionsheet" href="#warningInfo_actionsheet"
                        style="width: 40%;background-color: #FFFFFF;color: #A9293D;border-color: #A9293D;border-radius: 2px;">
                        工序筛选
                    </a>
                </span>
				<span>
                    <a data-role="button" id="warningInfo_allButton"
                        style="width: 40%;background-color: #FFFFFF;color: #A9293D;border-color: #A9293D;border-radius: 2px;">
                        显示全部
                    </a>
                </span>
				</div>
			</header>
			
			<div data-role="content" style="background-color: #F7F7F7;">
				<div data-role="listview" data-bind="source: dataSource" data-template="warningInfo_Template" data-fixed-headers="true" id="warningInfoListView" style="background-color: white;" data-click="listViewClick">
				</div>
			</div>
			
			<ul id="warningInfo_actionsheet" data-role="actionsheet" data-cancel="取消">
				<li class="km-actionsheet-title">选择工序</li>
				<li><a data-action="warningInfo_filter('0')">全部</a></li>
				<li><a data-action="warningInfo_filter('1')">清花</a></li>
  				<li><a data-action="warningInfo_filter('2')">梳棉</a></li>
  				<li><a data-action="warningInfo_filter('3')">预并</a></li>
  				<li><a data-action="warningInfo_filter('4')">条并卷</a></li>
  				<li><a data-action="warningInfo_filter('5')">精梳</a></li>
  				<li><a data-action="warningInfo_filter('6')">末并</a></li>
  				<li><a data-action="warningInfo_filter('7')">粗纱</a></li>
  				<li><a data-action="warningInfo_filter('8')">细纱</a></li>
  				<li><a data-action="warningInfo_filter('9')">清纱</a></li>
  				<li><a data-action="warningInfo_filter('10')">络筒</a></li>
			</ul>
			
			<!--List模板-->
			<script id="warningInfo_Template" type="text/x-kendo-template">
				<div style="background-color:rgb(247,247,247);height: 5px;"></div>
				<div>
					<a id="machineName" style="float: left;margin-top: 0.5em;padding-left: 0.5em;color: black;">#=deviceName#</a>
					<div id="warningInfoDetailButton" deviceCode = "#:deviceCode#" data-bind = "click: detailClicked" data-role="button" style="background-image: url(../resources/@3x/detail@3x.png);background-repeat: round;border: none;float: right;margin: 15px;padding-left: 23px;padding-right: 23px;padding-top: 8px;padding-bottom: 8px;"></div>
				</div>
				<div style="margin-top: 2.5em;padding-top: 0.5em;border-top-width: 1px;border-top-color: lightgray;border-top-style: solid;">
					<div style="padding-left: 0.5em;float: left;font-size: 13px;width: 48%;">
						<img src="../resources/@3x/status_red@3x.png" style="width: 15px;" />
						#=deviceStatus#
					</div>
					<div>
						<div style="font-size: 13px;width: 50%;float: right;border-left-width: 1px;border-left-style: solid;border-left-color: lightgray;padding-left: 0.5em;margin-bottom: 0.5em;">
							<p>#=message#</p>
						</div>
					</div>

				</div>
			</script>
			
			<script src="../Controller/url.js"></script>
			<script src="../Controller/storage.js"></script>
			<script src="../Controller/warningInfo.js"></script>
			<link href="../css/warningInfo.css" rel="stylesheet" />
		</div>

	<!--</body>

</html>-->