<!--<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>告警详情</title>

		<link href="../styles/kendo.mobile.all.min.css" rel="stylesheet" />
		<link href="../css/warningDetail.css" rel="stylesheet" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/kendo.all.min.js"></script>

	</head>

	<body>-->
		<div data-role="view" data-title="告警详情" id="IMSWarningDetail" data-show="viewShow">
			<header data-role="header">
				<span data-role="navbar" style="border-bottom-width:1px ;border-bottom-style: solid;border-bottom-color: lightgray;">
                    <div data-role="view-title" style="line-height: 4.5em;font-weight: 100;background-color: white;color: black;font-family: arial;"></div>
                		<a id="warningInfo_leftNavButton" href="#:back" data-role="button" data-align="left" style="background-image: url(../resources/@3x/back_big@3x.png);background-repeat: round;height: 50px;padding-left: 50px;"></a>
				</span>
			</header>

			<div data-role="content" style="background-color: white;">
				<div style="position: relative;top: 15px;">
					<div style="position: absolute;width: 25%;text-align: right;float: left;margin-top: 10px;">
						<div>机台编号:</div>
						<br />
						<div>品种:</div>
						<br />
						<div>实际产量:</div>
					</div>
					<span style="position: absolute;margin-left: 25%;text-align: left;float: left;margin-top: 10px;">
						<div id="warningDetail_devcode">&nbsp;</div>
						<br />
						<div id="warningDetail_ArticleName">&nbsp;</div>
						<br />
						<div id="warningDetail_ProductionKM">&nbsp;</div>
					</span>
					<span style="right: 10%;top:15px;margin-right: 28px;position: absolute;">
						<div data-role="button" style="border: 0;width: 80px;height: 80px;">
							<div style="font-size: 26px;color: #A9293D;margin-top: 20px;">
								<div id="warningDetail_EfficProduction">0.0</div>
								<span style="font-size: 15px;float: right;">%</span>
								<div style="font-size: 10px;color: #333333;">生产效率</div>
							</div>
						</div>
					</span>
					<div id="chart" style="float: right;right: 10%;margin-right: -20px;margin-top: -30px;padding: 0;position: absolute;width: 180px;height: 180px;"></div>
					<div style="position: absolute;left: 0;top: 130px;width: 100%;">
						<span style="position: absolute;right: 4%;left: 4%;float: left;height: 100px;border-width: 1px;border-style: solid;border-color: #A9293D;">
							<img src="../resources/@3x/smj-c70@3x.png" style="margin-top: -1px;margin-left: -1px;width: 100px;float: left;" />
							<div style="position: absolute;width: 100px;text-align: center;bottom: 10px;font-size: 0.8em;">设备异常</div>
							<div style="font-size: 0.8em;padding: 1em;padding-left: 110px;">
								<div id="warningDetail_deviceStatusMessage"></div>
							</div>
						</span>
					</div>
					<div style="padding-bottom: 20px;width: 100%;position: absolute;top: 250px;text-align: center;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: lightgray;">
						<div id="warningDetailScrollView" data-role="scrollview"  data-bind="source: scrollViewDataSource" data-template="warningDetail_scrollview-template" data-content-height="90px" data-enable-pager="true">
  						</div>
					</div>
					
					<!--<div style="padding-bottom: 20px;width: 100%;position: absolute;top: 220px;text-align: center;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: lightgray;">
						<div style="margin-left: 4%;float: left;width: 28%;background-color: #EEEEEE;padding-top: 1em;height: 90px;">
							<img src="../resources/@3x/status_red@3x.png" style="width: 15px;" />
							<span id="warningDetail_QualityMessageTitle_1" style="color: #FE0200;"></span>
							<div id="warningDetail_QualityMessage_1" style="font-size: 10px;"></div>
						</div>
						<div style="margin-left: 4%;float: left;width: 28%;background-color: #EEEEEE;padding-top: 1em;height: 90px;">
							<img src="../resources/@3x/status_red@3x.png" style="width: 15px;" />
							<span id="warningDetail_QualityMessageTitle_2" style="color: #FE0200;"></span>
							<div id="warningDetail_QualityMessage_2" style="font-size: 10px;"></div>
						</div>
						<div style="margin-left: 4%;float: left;width: 28%;background-color: #EEEEEE;padding-top: 1em;height: 90px;">
							<img src="../resources/@3x/status_red@3x.png" style="width: 15px;" />
							<span id="warningDetail_QualityMessageTitle_3" style="color: #FE0200;"></span>
							<div id="warningDetail_QualityMessage_3" style="font-size: 10px;"></div>
						</div>
					</div>-->
					<div style="position: absolute;width: 100%;top: 360px" data-role="listview" data-bind="source: dataSource" data-template="otherInfo_Template" data-fixed-headers="true" id="warningDetailListView" style="background-color: white;">
					</div>
				</div>
			</div>
		</div>
		
		<!--List模板-->
		<script id="otherInfo_Template" type="text/x-kendo-template">
			<img src="../resources/@3x/other_info_icon@3x.png" style="padding: 5px;width: 20px;float: left;" />
			<div style="font-size: 0.8em;">#=otherMessage#</div>
		</script>
		<script src="../Controller/url.js"></script>
		<script src="../Controller/storage.js"></script>
		<script src="../Controller/warningDetail.js"></script>
		<link href="../css/warningDetail.css" rel="stylesheet" />
		
		<!--scrollView模板-->
		<script id="warningDetail_scrollview-template" type="text/x-kendo-template">
			<div style="margin-left: 4%;float: left;width: 28%;background-color: rgb(238,238,238);height: 90px;">
				<img src="../resources/@3x/status_red@3x.png" style="width: 15px;" />
				<span style="color:rgb(254,2,0);">#=Title_1#</span>
				<div style="font-size: 10px;">#=Message_1#</div>
			</div>
			<div style="margin-left: 4%;float: left;width: 28%;background-color: rgb(238,238,238);height: 90px;">
				<img src="../resources/@3x/status_red@3x.png" style="width: 15px;" />
				<span style="color:rgb(254,2,0);">#=Title_2#</span>
				<div style="font-size: 10px;">#=Message_2#</div>
			</div>
			<div style="margin-left: 4%;float: left;width: 28%;background-color: rgb(238,238,238);height: 90px;">
				<img src="../resources/@3x/status_red@3x.png" style="width: 15px;" />
				<span style="color:rgb(254,2,0);">#=Title_3#</span>
				<div style="font-size: 10px;">#=Message_3#</div>
			</div>
		</script>
	<!--</body>

</html>-->