<!--<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>告警</title>

		<link href="../styles/kendo.mobile.all.min.css" rel="stylesheet" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/kendo.all.min.js"></script>

	</head>

	<body id="warningList">-->
		<div data-role="view" data-title="告警" id="IMSWarningList" data-show="viewShow" data-before-hide="viewBeforeHide" data-after-show="viewAfterShow">
			<link href="../css/warningList.css" rel="stylesheet" />
			<header data-role="header">
				<span data-role="navbar" style="border-bottom-width:1px ;border-bottom-style: solid;border-bottom-color: lightgray;">
                    <div data-role="view-title" style="line-height: 80px;font-weight: 100;background-color: white;color: black;font-family: arial;"></div>
                		<a id="warningList_leftNavButton" href="#:back" data-role="button" data-align="left" style="background-image: url(../resources/@3x/back_big@3x.png);background-repeat: round;height: 50px;padding-left: 50px;"></a>
				</span>
			</header>
			<div data-role="content">
				<ul id="warningListView" data-role="listview" data-style="inset" style="background-color: white;">
					<li style="border-width: 0;padding-top: 3em;padding-left: 30px;padding-right: 30px;">
						<a data-role="detailbutton" id="deviceStatusButton" href="#warningInfo.html?messageid=0">
							<p>
								<img src="../resources/@3x/device_status_alarm_icon@3x.png" style="width: 1.5em;vertical-align: middle;" />
								<span id="warningListBadge_1" style="color: #A9293D;font-size: 1em;float: right;margin-right: 20px;">0</span>
								<span style="font-size: 1em;color: #333333;padding-left: 0.5em;vertical-align: middle;">设备状态告警</span>
							</p>
						</a>
					</li>
					<li style="border-width: 0;padding-left: 30px;padding-right: 30px;">
						<a data-role="detailbutton" id="productivityButton" href="#warningInfo.html?messageid=1">
							<p>
								<img src="../resources/@3x/productivity_alarm_icon@3x.png" style="width: 1.5em;vertical-align: middle;" />
								<span id="warningListBadge_2" style="color: #A9293D;font-size: 1em;float: right;margin-right: 20px;">0</span>
								<span style="font-size: 1em;color: #333333;padding-left: 0.5em;vertical-align: middle;">生产效率告警</span>
							</p>
						</a>
					</li>
					<li style="border-width: 0;padding-left: 30px;padding-right: 30px;">
						<a data-role="detailbutton" id="qualityButton" href="#warningInfo.html?messageid=2">
							<p>
								<img src="../resources/@3x/quality_alarm_icon@3x.png" style="width: 1.5em;vertical-align: middle;" />
								<span id="warningListBadge_3" style="color: #A9293D;font-size: 1em;float: right;margin-right: 20px;">0</span>
								<span style="font-size: 1em;color: #333333;padding-left: 0.5em;vertical-align: middle;">质量告警</span>
							</p>
						</a>
					</li>
					<li style="border-width: 0;padding-left: 30px;padding-right: 30px;-webkit-box-shadow: none;box-shadow: none;">
						<a data-role="detailbutton" id="otherButton" href="#warningInfo.html?messageid=3">
							<p>
								<img src="../resources/@3x/other_alarm_icon@3x.png" style="width: 1.5em;vertical-align: middle;" />
								<span id="warningListBadge_4" style="color: #A9293D;font-size: 1em;float: right;margin-right: 20px;">0</span>
								<span style="font-size: 1em;color: #333333;padding-left: 0.5em;vertical-align: middle;">其他告警</span>
							</p>
						</a>
					</li>
				</ul>

			</div>
			<script src="../Controller/url.js"></script>
			<script src="../Controller/warningList.js"></script>
			<script src="../Controller/storage.js"></script>
		</div>
		

	<!--</body>

</html>-->