/**
 * Created by Satoru on 16/9/22.
 */

#packingInput_listview.km-list>li{
	border: none;
	margin: 0px;
	padding-left: 3%;
	padding-right: 3%;
}

/*.km-nova .km-actionsheet-root, .km-nova .km-popup, .km-nova .km-shim, .km-phone .km-nova .km-actionsheet-wrapper{
	background: rgba(0,0,0,0.2);
}

.km-nova .km-actionsheet-wrapper, .km-nova .km-popup .k-list-container{
	border-color: #EEEEEE;
	border-radius: 0px;
	border-width: 2px;
}

.km-nova .km-popup-wrapper{
	padding: 0;
}

.k-reset{
	font-size: 0.8em;
}*/
