/**
 * Created by Satoru on 16/9/22.
 */

#warningListView.km-widget .km-listview-link {
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
}


/*badge样式*/

#warningListBadge_1.km-badge,
#warningListBadge_2.km-badge,
#warningListBadge_3.km-badge,
#warningListBadge_4.km-badge {
	position: relative;
	float: right;
	top: 5px;
	right: 20px;
	padding: 0;
}