/**
 * Created by Satoru on 16/9/22.
 */


/*badge样式*/

.km-widget .km-listview-link {
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
}

.km-badge {
	position: relative;
	float: right;
	top: 5px;
	right: 20px;
	padding: 0;
}